<%- include('partials/header') %>

<div id="wrapper">
  <%- include('partials/sidebar') %>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <%- include('partials/topbar') %>
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
        <div class="card">
          <div class="card-header">
            <h1>Transactions</h1>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col">
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Invoice</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                  </form>
                </div>
                <div class="col">
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Time</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                  </form>
                </div>
                <div class="col">
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Operator</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <%- include('partials/copyright') %>
  </div>
</div>

<%- include('partials/footer') %>
