<%- include('../partials/header') %>
<%- include('../partials/sales') %>

<div id="wrapper">
  <%- include('../partials/sidebar') %>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <%- include('../partials/topbar') %>
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Sales</h1>
        <div class="card">
          <div class="card-header">
            <h1>Transactions</h1>
          </div>
          <div class="card-body">
            <form id="detail-form">
            <div class="container">
              <div class="row">
                <div class="col-4">
                    <div class="mb-3">
                      <label for="invoice" class="form-label">Invoice</label>
                      <input type="text" class="form-control" id="invoice" name="invoice" aria-describedby="emailHelp" value="<%= sales.invoice%>"readonly>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                      <label for="time" class="form-label">Time</label>
                      <input type="text" class="form-control" id="time" name="time" aria-describedby="emailHelp" value="<%= moment(sales.time).format('DD-MMM-YYYY HH:mm:s')%>" readonly>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                      <label for="operator" class="form-label">Operator</label>
                      <input type="email" class="form-control" id="operator" name="operator" aria-describedby="emailHelp" value="<%= user.name%>" readonly>
                    </div>
                </div>
                <div class="col-4">
                  <hr>
                    <div class="mb-3">
                      <label for="barcode" class="form-label">Goods Barcode</label>
                      <select class="form-control " name="barcode" id="barcode">
                        <option value="">Choose barcode product</option>
                        <% goods.forEach(item=> { %>
                            <option value="<%= item.barcode %>">
                                <%= item.barcode + ' - ' + item.name %>
                            </option>
                            <% }) %>
                    </select>
                    </div>
                </div>
                <div class="col-4">
                  <hr>
                    <div class="mb-3">
                      <label for="name" class="form-label">Goods Name</label>
                      <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" readonly>
                    </div>
                </div>
                <div class="col-4">
                  <hr>
                    <div class="mb-3">
                      <label for="stock" class="form-label">Stock</label>
                      <input type="text" class="form-control" id="stock" name="stock" aria-describedby="emailHelp" readonly>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                      <label for="sellingprice" class="form-label">Selling Price</label>
                      <input type="text" class="form-control" id="sellingprice" name="sellingprice" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                      <label for="quantity" class="form-label">Qty</label>
                      <input type="text" class="form-control" id="quantity" name="quantity" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                      <label for="totalprice" class="form-label">Total Price</label>
                      <input type="text" class="form-control" id="totalprice" name="totalprice" aria-describedby="emailHelp">
                    </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50"><i class="fa-sharp fa-solid fa-plus"></i></span>
                <span class="text">Add</span>
            </button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <form action="" method="post">
      <div class="card">
        <div class="card-body">
            <table class="table table-striped" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Barcode</th>
                  <th>Name</th>
                  <th>Qty</th>
                  <th>Price</th>
                  <th>Total Price</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="table-sales">
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <div class="row mb-3 px-2">
              <label for="totalsum" class="col-sm-2 col-form-label text-dark">Total Summary</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="totalsum" name="totalsum" value="<%= sales.totalsum %>"
                      readonly>
              </div>
          </div>
            <div class="row mb-3 px-2">
              <label for="pay" class="col-sm-2 col-form-label text-dark">Pay</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="pay" name="pay" value="<%= sales.pay %>"
                      >
              </div>
          </div>
            <div class="row mb-3 px-2">
              <label for="change" class="col-sm-2 col-form-label text-dark">Change</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="change" name="change" value="<%= sales.change %>"
                      readonly>
              </div>
          </div>

          <div class="row mb-3 px-2">
            <label for="customer" class="col-sm-2 col-form-label text-dark">Customer</label>
            <div class="col-sm-10">
              <select type="password" class="form-control" id="customer" name="customer" >
                  <option value="" selected>Choose the customer ...</option>
                  <% customer.forEach(item=> { %>
                      <option value="<%= item.customerid %>">
                          <%= item.customerid + ' - ' + item.name %>
                              <% }) %>
                      </option>
              </select>
        </div>
        </div>
        <button type="submit" class="btn btn-success btn-icon-split">
          <span class="icon text-white-50"><i class="fas fa-solid fa-plus"></i></span>
          <span class="text">Finish</span>
      </button>
      <a href="/sales" type="submit" class="btn btn-warning btn-icon-split">
          <span class="icon text-white-50"><i class="fa-sharp fa-solid fa-arrow-left"></i></span>
          <span class="text">Back</span>
      </a>
      </form>
    </div>

    <%- include('../partials/copyright') %>
  </div>
</div>
<%- include('../partials/sales') %>
<%- include('../partials/footer') %>
